<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/login/style.css" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <form class="loginForm" method="post">
        <span class="loginText">Login</span>
        <label for="email" class="email">Email</label>
        <input type="email" name="email" id="email" />
        <label for="passw" class="passw">Password</label>
        <input type="password" name="password" id="passw" />
        <button type="submit" name="button">Login</button>
      </form>
    </main>
  </body>
  <script type="text/javascript" src="/login/script.js"></script>
</html>
