* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@font-face {
  font-family: poppins;
  src: url(./font/Poppins-Regular.ttf);
}

@font-face {
  font-family: opnsans;
  src: url(./font/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: monsterrat;
  src: url(./font/Poppins-Regular.ttf);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

aside {
  z-index: 99999;
  height: 100vh;
  width: 100px;
  padding: 7px;
  background-color: rgb(37, 39, 44);
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

aside img {
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}

section {
  min-width: 400px;
  height: 100vh;
  background-color: rgb(47, 49, 54);
  display: flex;
  flex-direction: column;
}

.profile {
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
}

main {
  width: 100%;
  min-width: 655px;
  height: 100vh;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgb(54, 57, 63);
}

aside img:hover {
  background-color: rgb(27, 29, 34) !important;
}

.searchChat {
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  outline: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(47, 49, 54);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0;
}

.searchChat input[type="text"] {
  padding-left: 10px;
  outline: none;
  background-color: rgb(37, 39, 44);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 0;
  border-radius: 50vh 0 0 50vh;
  height: 30px;
  width: 80%;
  color: rgb(204, 207, 213);
}

.searchChat input[type="image"] {
  outline: none;
  padding-right: 5px;
  height: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 0;
  border-radius: 0 50vh 50vh 0;
  background-color: rgb(37, 39, 44);
}

.sectionContainer {
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
  position: relative;
}

.list {
  cursor: pointer;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  padding-top: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.list:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.list img {
  margin-right: 5px;
}

.listInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.listContainer {
  background-color: rgb(47, 49, 54);
}

.listContainer, .listContainerSelect {
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  -o-transition: .8s;
  transition: .8s;
  transition: .8s, -webkit-transform .8s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 10px 0px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.listContainerSelect {
  width: 100%;
}

.lastChatGroup,
.listInfo .username,
.chatProfileInfo .chatProfileName {
  font-family: opnsans;
  color: rgb(204, 207, 213);
}

.lastChat,
.lastChatGroup,
.chatContent {
  font-family: opnsans;
  color: rgb(204, 207, 213)
}

.lastChat,
.lastChatGroup {
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.chatProfileInfo {
  z-index: 11;
  justify-content: space-between;
  height: 51px;
  transition: background-color .3s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: white;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgb(44, 47, 53);
}

.chat {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - (62px + 51px));
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgb(54, 57, 63);
}

.chatProfileName {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 10px;
}

.sendingMessage {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 62px;
  background-color: rgb(44, 47, 53);
}

.usrCht {
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: -webkit-box;
  background-color: white;
  transition: .15s;
}

.usrCht,
.oppCht {
  cursor: pointer;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(74, 77, 83);
  max-width: 60%;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  transition: .4s;
}

.oppCht strong {
  font-family: opnsans;
  color: rgb(204, 207, 213);
  font-size: 12px;
}

.oppCht {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.oppCht span {
  font-family: opnsans;
}

.messageContent {
  width: 80%;
  font-size: 15px;
  padding-left: 10px;
  height: 42px;
  border-radius: 50vh;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-left: auto;
  outline: none;
  color: rgb(204, 207, 213);
  background-color: rgb(54, 57, 63);
}

.sendBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
  border-radius: 50vh;
  margin-left: 10px;
  margin-right: auto;
}

.option {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  margin-left: auto;
}

.mainProfile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(48, 130, 255);
  height: 70vh;
}

.aclPhotoProfile {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  height: 130px;
  border-radius: 50vh;
  border: 3px solid white;
}

.aclPhotoProfile:hover {
  color: black;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.profileusrname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: poppins;
  font-weight: 600;
  font-size: 20px;
  color: white;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.mainProfile input[type="file"] {
  display: none;
}

.usrProfileId,
.date {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.usrProfileId:hover,
.date:hover {
  background-color: rgb(37, 39, 44);
  /* color: white; */
}

.usrProfileId span,
.date span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 10px;
  font-family: opnsans;
  color: rgb(204, 207, 213);
}

.usrProfileId strong,
.date strong {
  color: rgb(204, 207, 213);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 10px;
  font-family: poppins;
}

.addContacts {
  z-index: 10;
  background-color: rgb(37, 39, 44);
  position: absolute;
  bottom: 30px;
  left: 390px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50vh;
  margin-right: 100px;
  padding: 25px 25px 25px 25px;
  height: 45px;
  -webkit-animation-name: muncul;
  animation-name: muncul;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: -webkit-box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.addContacts:hover {
  -webkit-box-shadow: 0 0 20px rgb(27, 29, 34);
  box-shadow: 0 0 20px rgb(27, 29, 34);
}

@-webkit-keyframes muncul {
  from {
    bottom: -100px;
  }

  to {
    bottom: 30px;
  }
}

@keyframes muncul {
  from {
    bottom: -100px;
  }

  to {
    bottom: 30px;
  }
}

.member {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  color: rgb(204, 207, 213);
  text-overflow: ellipsis;
}

@font-face {
  font-family: poppinsExtra;
  src: url(./font/Poppins-ExtraBold.ttf);
}

.deleteContact {
  position: absolute;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-right: 20px;
  height: 30px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.list:hover .deleteContact {
  opacity: .5;
}

.usernameAndChange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

@-webkit-keyframes addContactAlertAnim {
  from {
    -webkit-transform: translateY(500%);
    transform: translateY(500%);
    opacity: 0;
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes addContactAlertAnim {
  from {
    -webkit-transform: translateY(500%);
    transform: translateY(500%);
    opacity: 0;
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@-webkit-keyframes addContactAlertAnimBack {
  from {
    opacity: 1;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(500%);
    transform: translateY(500%);
    opacity: 0;
  }
}

@keyframes addContactAlertAnimBack {
  from {
    opacity: 1;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(500%);
    transform: translateY(500%);
    opacity: 0;
  }
}

.addContactAlert {
  -webkit-animation-name: addContactAlertAnim;
  animation-name: addContactAlertAnim;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: rgba(0, 0, 0, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.addContactAlert {
  border-radius: 5px;
  font-family: poppins;
  color: white;
  margin: auto;
}

.addedContactAlertQ {
  font-weight: bold;
}

.addContactAlertYes, .addContactAlertNo {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  padding: 3px;
  cursor: pointer;
}

.addContactAlertYes:hover, .addContactAlertNo:hover {
  background-color: ;
  border-radius: 5px;
}

.addGroups img {
  background-color: rgb(37, 39, 44);
}

.container {
  margin-top: 20px;
  min-width: 130px;
  position: relative;
  font-family: poppins;
  color: white;
  overflow-x: hidden;
  min-width: 155px;
  overflow-y: hidden;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
}

.inputer {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-105%);
  -ms-transform: translateY(-105%);
  transform: translateY(-105%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.usrnamrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding-left: 34px;
}

.inputer input[type=text] {
  margin-left: 34px;
  font-family: poppins;
  padding-left: 5px;
  font-weight: 600;
  color: white;
  font-size: 16px;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 0;
  border-bottom: 3px solid white;
}

.usrnamrss img {
  margin-left: 10px;
  width: 24px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.container:hover .usrnamrss img {
  opacity: 1;
}

.changDone {
  width: 45px;
}

@-webkit-keyframes alerter {
  0% {
    bottom: -100%;
  }

  20% {
    bottom: 40px;
  }

  60% {
    bottom: 40px;
  }

  100% {
    bottom: -100%;
  }
}

@keyframes alerter {
  0% {
    bottom: -100%;
  }

  20% {
    bottom: 40px;
  }

  60% {
    bottom: 40px;
  }

  100% {
    bottom: -100%;
  }
}

.alerter {
  z-index: 999;
  -webkit-animation-name: alerter;
  animation-name: alerter;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: fixed;
  max-width: 35vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  line-height: 98%;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: -webkit-pre-wrap;
  word-break: break-all;
  white-space: normal;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, .5);
  font-family: 'opnsans';
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

.addGroups {
  z-index: 2;
  background-color: rgb(37, 39, 44);
  position: absolute;
  bottom: 30px;
  left: 390px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50vh;
  margin-right: 100px;
  padding: 25px 25px 25px 25px;
  height: 45px;
  -webkit-animation-name: muncul;
  animation-name: muncul;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: -webkit-box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.groupMethod {
  background-color: rgb(50, 50, 50);
  position: absolute;
  bottom: 30px;
  left: 390px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50vh;
  margin-right: 100px;
  padding: 25px 25px 25px 25px;
  height: 45px;
  -webkit-transform: scale(0.88);
  -ms-transform: scale(0.88);
  transform: scale(0.88);
  box-shadow: 5px 5px 17px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 17px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-animation-name: muncul;
  animation-name: muncul;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.groupCreate {
  opacity: 0;
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s;
}

form.joinGroup input[type="text"], form.addContactForm input[type="text"] {
  opacity: 0;
  display: none;
  width: 75%;
  height: 30px;
  border-radius: 50vh;
  outline: none;
  padding-left: 10px;
  font-family: poppins;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  font-weight: 27px;
  font-weight: 600;
  border: none;
}

form.joinGroup, form.addContactForm {
  -webkit-animation-name: muncul;
  animation-name: muncul;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-color: rgb(50, 50, 50);
  position: absolute;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 22.5vh;
  padding: 25px 0px 25px 5px;
  height: 45px;
  -webkit-transform: scale(0.88);
  -ms-transform: scale(0.88);
  transform: scale(0.88);
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  transition: 1s;
  left: 420px;
  width: 0px;
}

form.joinGroup input[type=image], form.addContactForm input[type=image] {
  width: 40px;
  padding: 5px;
  background-color: limegreen;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  outline: none;
  opacity: 0;
  display: none;
}

form.joinGroup input[type=image]:hover {
  background-color: lime;
}

form.addContactForm input[type=image]:hover {
  background-color: lime;
}

.createGroupOptContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0px 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chatContent {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.createGroupOptContainer img {
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.createGroupName input[type=text] {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 2px;
  background-color: rgb(54, 57, 63);
  border: 0;
  outline: none;
  border-bottom: 2px solid rgb(150, 150, 150);
  margin-left: 10px;
  width: 100%;
  color: rgb(204, 207, 213);
}

.createGroupName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.createGroupName input[type=image] {
  background-color: rgb(37, 39, 44);
  height: 35px;
  margin-left: 10px;
  border-radius: 50%;
  padding: 7px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
  outline: none;
}

@keyframes option {
  0% {
    transform: translate(50%, -50%) scale(0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes optionOut {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(50%, -50%) scale(0);
    opacity: 0;
  }
}

.messageOption span {
  padding: 5px 10px;
  cursor: pointer;
  transition: .2s;
  color: rgb(204, 207, 213);
}

.messageOption span:hover {
  background-color: rgb(24, 27, 33);
}

.messageOption {
  animation-duration: .15s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 45px;
  flex-direction: column;
  background-color: rgb(47, 49, 54);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  font-family: opnsans;
  border-radius: 5px;
  right: 18.5px;
  z-index: 12;
}

@keyframes includedMsg {
  from {
    background-color: rgb(74, 77, 83);
  }

  to {
    background-color: rgb(94, 97, 103);
  }
}

@keyframes includedMsgOut {
  from {
    background-color: rgb(94, 97, 103);
  }

  to {
    background-color: rgb(74, 77, 83);
  }
}

.messageSearchForm {
  position: absolute;
  background-color: rgb(47, 49, 54);
  box-shadow: 0 0 3px rgb(37 39 44);
  border-radius: 0 0 15px 15px;
  left: 50%;
  transform: translateX(50%);
  top: -10px;
  padding: 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: top .25s;
}

form.messageSearchInputer {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
}

.messageSearchInputer input[type="text"] {
  height: 25px;
  border-radius: 10px;
  outline: 0;
  border: 0;
  text-decoration: 0;
  background-color: rgb(49, 54, 59);
  color: rgb(204, 207, 213);
  font-family: 'opnsans';
  padding-left: 10px;
}

.messageSearchInputer input[type="image"] {
  height: 30px;
  margin-left: 5px;
}