* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: poppins;
  src: url(./font/Poppins-Regular.ttf);
}

@font-face {
  font-family: monsterrat;
  src: url(./font/Poppins-Regular.ttf);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

aside {
  z-index: 99999;
  height: 100vh;
  width: 100px;
  padding: 7px;
  background-color: white;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

aside img {
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}

section {
  min-width: 400px;
  height: 100vh;
}

.profile {
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
}

main {
  width: 100%;
  min-width: 655px;
  height: 100vh;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

aside img:hover {
  background-color: rgb(210, 210, 210) !important;
  /* filter: invert(); */
}

.searchChat {
  outline: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0;
}

.searchChat input[type="text"] {
  padding-left: 10px;
  outline: none;
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 0;
  border-radius: 50vh 0 0 50vh;
  height: 30px;
  width: 80%;
}

.searchChat input[type="image"] {
  outline: none;
  padding-right: 5px;
  height: 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 0;
  border-radius: 0 50vh 50vh 0;
}

.list {
  cursor: pointer;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  padding-top: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.list:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.list img {
  margin-right: 5px;
}

.listInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.listContainer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 10px 0px;
  height: calc(100vh - 66px);
  overflow-y: auto;
  overflow-x: hidden;
}

.lastChatGroup,
.listInfo .username,
.chatProfileInfo .chatProfileName {
  font-family: helvetica;
}

.lastChat,
.lastChatGroup,
.chatContent {
  font-family: helvetica;
}

.lastChat,
.lastChatGroup {
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.chatProfileInfo {
  height: 51px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.chat {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - (62px + 51px));
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.chatProfileName {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 10px;
}

.sendingMessage {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 62px;
}

.usrCht {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.usrCht,
.oppCht {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60%;
}

.oppCht strong {
  font-family: monsterrat;
  font-size: 12px;
}

.oppCht {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.messageContent {
  width: 80%;
  font-size: 15px;
  padding-left: 10px;
  height: 42px;
  border-radius: 50vh;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-left: auto;
  outline: none;
}

.sendBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
  border-radius: 50vh;
  margin-left: 10px;
  margin-right: auto;
}

.option {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  margin-left: auto;
}

.mainProfile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(48, 130, 255);
  height: 70vh;
}

.aclPhotoProfile {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  height: 130px;
  border-radius: 50vh;
  border: 3px solid white;
}

.aclPhotoProfile:hover {
  color: black;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.profileusrname {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: poppins;
  font-weight: 600;
  font-size: 20px;
  color: white;
  transition: transform 1s;
}

.mainProfile input[type="file"] {
  display: none;
}

.usrProfileId,
.date {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.usrProfileId:hover,
.date:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.usrProfileId span,
.date span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 10px;
  font-family: monsterrat;
}

.usrProfileId strong,
.date strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 10px;
  font-family: poppins;
}

.addContacts {
  background-color: dodgerblue;
  position: absolute;
  bottom: 30px;
  left: 390px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50vh;
  margin-right: 100px;
  padding: 25px 25px 25px 25px;
  height: 45px;
  animation-name: muncul;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  transition: box-shadow 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.addContacts:hover {
  box-shadow: 0 0 20px dodgerblue;
}

@keyframes muncul {
  from {
    bottom: -100px;
  }

  to {
    bottom: 20px;
  }
}

.member {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@font-face {
  font-family: poppinsExtra;
  src: url(./font/Poppins-ExtraBold.ttf);
}

.addContactForm input[type=text] {
  font-family: poppins;
  outline: none;
  padding: 0 0px;
  padding-left: 15px;
  font-size: 17px;
  width: 100%;
  border-radius: 50vh 0 0 50vh;
  border: 0;
}

.addContactForm input[type=image] {
  padding: 5px;
  box-sizing: border-box;
  height: 35px;
  outline: none;
}

.addContactForm {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  height: 35px;
  background-color: white;
  align-items: center;
  padding-right: 10px;
  border-radius: 50vh;
  width: 250px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  border: 1px solid rgba(0, 0, 0, .6);
}

@keyframes keluarAddC {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translateY(100vh);
  }
}

@keyframes munculAddC {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

.containerAddContact {
  transition: opacity .4s;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, .3);
}

.deleteContact {
  position: absolute;
  align-self: flex-end;
  padding-right: 20px;
  height: 30px;
  opacity: 0;
  transition: opacity .3s;
}

.list:hover .deleteContact {
  opacity: .5;
}

.usernameAndChange {
  display: flex;
  width: fit-content;
  align-items: center;
  overflow: hidden;
}

@keyframes addContactAlertAnim {
  from {
    transform: translateY(500%);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes addContactAlertAnimBack {
  from {
    opacity: 1;
    transform: translateY(100%);
  }

  to {
    transform: translateY(500%);
    opacity: 0;
  }
}

.addContactAlert {
  animation-name: addContactAlertAnim;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  padding: 5px;
  transition: transform .5s;
}

.addContactAlert {
  border-radius: 5px;
  font-family: poppins;
  color: white;
  margin: auto;
}

.addedContactAlertQ {
  font-weight: bold;
}

.addContactAlertYes, .addContactAlertNo {
  transition: .4s;
  padding: 3px;
  cursor: pointer;
}

.addContactAlertYes:hover, .addContactAlertNo:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.changeUsrNamInpt {
  display: none;
  font-family: 'poppins';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid green;
  border-bottom: 3px solid white;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-top: 3.5px;
  transition: transform 1s;
  transform: translateY(-150%);
}

.changeContactUseraname {
  cursor: pointer;
  display: none;
  width: 24px;
  margin-left: 4px;
  transform: translateY(0);
  transition: transform 1s !important;
}

.acceptUsernameChange {
  position: absolute;
  cursor: pointer;
  transform: translateY(150%);
  transition: transform 1s !important;
  width: 24px;
}

.usernameAndChange div {
  margin-top: 5px;
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
}

.usernameAndChange .CinputContainer {
  height: 29px;
}